@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

main{
    min-width: 300px;
    max-width: 600px;
    margin: 0px auto 0px auto;
}


main img{
    display: block;
    width: 150px;
    margin: 0px auto 0px auto;
    border-radius: 100%;
}